@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;

}